@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  display: none;
}

/* Firefox */
* {
  scrollbar-width: none;
}

/* Internet Explorer & old Edge */
* {
  -ms-overflow-style: none;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, sans-serif;
  background-color: #0a0a0a;
  color: #ffffff;
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 80px 20px;
}

/* Hero */
.hero h1 {
  font-size: 3rem;
  margin-bottom: 10px;
  font-weight: 700;
}

.subtitle {
  color: #a1a1a1;
  margin-bottom: 30px;
}

.buttons {
  display: flex;
  gap: 15px;
}

.buttons a {
  padding: 12px 20px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 500;
  border: 1px solid #1f1f24;

  color: #fff;
}

.buttons a:first-child {
  background: #fff;
  color: #000;
}
.buttons a:hover {
  transform: translateY(-5px);
  border-color: #2f2f35;
}
/* Sections */
.section {
  margin-top: 80px;
}

.section h2 {
  font-size: 25px;
  margin-bottom: 20px;
  font-weight: 700;
}

/* Skills */
.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.skills span {
  background: #111;
  border: 1px solid #1f1f24;
  padding: 10px 16px;
  border-radius: 20px;
}
.skills span:hover {
  transform: translateY(-3px);
  border-color: #2f2f35;
}
/* Projects */
.projects {
  background-color: transparent;
  display: flex;

  flex-direction: column;

  gap: 20px;

  /* background-color: rebeccapurple; */
}

.projects-box {
  width: 100%;

  display: flex;
  flex-direction: row;
  gap: 20px;

  /* background-color: red; */
}
@media screen and (max-width: 600px) {
  .projects-box {
    flex-direction: column;
  }
}
.card {
  width: 100%;
  max-width: 420px;
  background-color: #111;
  border: 1px solid #222;
  padding: 20px;
  border-radius: 14px;

  display: flex;
  flex-direction: column;
}
.card:hover {
  transform: translateY(-5px);
  border-color: #2f2f35;
}
.card h3 {
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: -0.4px;
  line-height: 26px;
}
/* Card links */
.card-links {
  display: flex;
  gap: 20px;
  margin-top: 25px;
}

.card-links a {
  flex: 1;
  text-align: center;
  padding: 10px 14px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 10px;
  text-decoration: none;
  transition: all 0.25s ease;
}

/* Live Demo button */
.live-project {
  /* background-color: #0f172a; */
  color: #ffffff;
}

/* GitHub button */
.github-project {
  border: 1px solid #cbd5e1;
  color: #0f172a;

  background-color: white;
}

/* Hover effects */
.card-links a:hover {
  transform: translateY(-2px);
}

/* Footer */
footer {
  margin-top: 80px;
  font-size: 0.9rem;
  color: #777;
}
